<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file can be used to configure the logging behavior of UDIMAS. 
  There are a lot of options here and changing the wrong things will break the logging system (log4net),
  so please don't change things that you dont know about or aren't commented to be changable.
-->
<configuration>
  <log4net>
    <root />
    <appender name="EventAppender" type="UDIMAS.EventLogger, UDIMAS" />
    
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      
      <!--CONSOLE LOGGING LEVEL-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- Change the value to change minimum level required to log to console -->
        <levelMin value="ALL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <!--  -->
        <conversionPattern value="%logger %level - %message%newline" />
      </layout>
      
      <!-- 
        Change the following foreColor values to customize colors of different levels.
        Colors can be any combination of following colors (separated by a comma):
          Blue
          Green
          Red
          White
          Yellow
          Purple
          Cyan
          HighIntensity
        See https://logging.apache.org/log4net/release/sdk/html/T_log4net_Appender_ColoredConsoleAppender.htm for more info
      -->
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Purple, HighIntensity" />
      </mapping>
    </appender>

    <!--File Appender-->
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      
      <!-- Change the default path of main UDIMAS log file -->
      <file value="log/Udimas.txt" />
      
      <!-- Change the max size for the log file before log4net starts to purge older messages -->
      <maximumFileSize value="10MB" />
      
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <!--Plugin Appender-->
    <appender name="PluginAppender" type="UDIMAS.PluginLogger, UDIMAS" />
    
    <!--Console plugin Appender-->
    <appender name="PluginConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        
        <!-- Change the value to change minimum level required to log to console -->
        <levelMin value="WARN"/>
        
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger %level - %message%newline" />
      </layout>
      
      <!-- You can change colors for the plugins too -->
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Purple, HighIntensity" />
      </mapping>
    </appender>
    
    
    <logger name="UDIMAS" additivity="true">
      <level value="ALL" />
      <appender-ref ref="EventAppender"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender" />
    </logger>

    <logger name="plugin" additivity="true">
      <level value="ALL" />
      <appender-ref ref="PluginAppender" />
      <appender-ref ref="PluginConsoleAppender" />
    </logger>

  </log4net>
</configuration>