<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
    </root>

    <appender name="EventAppender" type="UDIMAS.EventLogger, UDIMAS" />
    <!--Console Appender-->
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      
      <!--CONSOLE LOGGING LEVEL-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger %level - %message%newline" />
      </layout>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Purple, HighIntensity" />
      </mapping>
    </appender>

    <!--File Appender-->
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/Udimas.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <!--Plugin Appender-->
    <appender name="PluginAppender" type="UDIMAS.PluginLogger, UDIMAS" />
    <!--Console Appender-->
    <appender name="PluginConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger %level - %message%newline" />
      </layout>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Purple, HighIntensity" />
      </mapping>
    </appender>
    
    <logger name="UDIMAS" additivity="true">
      <level value="ALL" />
      <appender-ref ref="EventAppender"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender" />
    </logger>

    <logger name="plugin" additivity="true">
      <level value="ALL" />
      <appender-ref ref="PluginAppender" />
      <appender-ref ref="PluginConsoleAppender" />
    </logger>

  </log4net>
</configuration>